# Copie este arquivo para terraform.tfvars antes de rodar o terraform apply
# O arquivo terraform.tfvars NÃO deve ser commitado (.gitignore já cobre)

aws_region            = "us-east-1"
db_name               = "oficinamecanica"
db_user               = "oficina"
db_password            = "TROQUE_ESTA_SENHA"
db_instance_class     = "db.t3.micro"
db_allocated_storage  = 20
